* { 
  margin: 0;
  padding: 0;
  box-sizing: border-box;  
}

.cardHighlight {
  min-height: 100%;
}


.colorNavbar {
  background-color: #FFC0CB;

}

.colorBanner {
   background-color: #C1E1C1;

}

.colorForm{
  background-color: #FFC0CB;
}

.colorGreen{
  background-color: #C1E1C1
}

.colorPurple{
background-color: #CF9FFF
}